@page
@model Index1Model


@{
    <!DOCTYPE html>
    <html lang="nl">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Winkelmandje</title>
        <link rel="stylesheet" href="main.css" />
    </head>
    <body>
        <div class="winkelmandje2">
            <h1>Jouw winkelmandje</h1>
            <div id="winkelmandje"></div>
            <a asp-page="/index4" class="betalen">verder naar betalen</a>

            <a asp-page="/index" class="registreren"> terug naar beginscherm</a>
        </div>

        
        <script src="app.js"></script>
        <footer class="onderaan">
            <div class="footer">
                <h2>Over ons</h2>
                <h3>
                    matrix inc is een bedrijf die in 2025 is opgericht en gevestigd is in Heerlen.
                    Ons bedrijf is vooral gemaakt om ervoor te zorgen dat mensen veilig en snel hun mechanische producten in huis hebben
                </h3>
            </div>
        </footer>
    </body>
    </html>
}
   








