@page
@model KE03_INTDEV_SE_1_Base.Pages.Index2Model
@{
}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>inloggen</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='site.css'>
    <script src='site.js'></script>
</head>
<body>
    <div class="loginscherm">
        <h1>Inloggen</h1>
        <form id="loginForm">
            <label for="email">E-mailadres:</label><br />
            <input type="email" id="email" name="email" required /><br /><br />

            <label for="wachtwoord">Wachtwoord:</label><br />
            <input type="password" id="wachtwoord" name="wachtwoord" required /><br /><br />

            <button type="submit">Inloggen</button>
        </form>
        <a asp-page="/Index3" class="registreren">nog geen account registreer hier</a>
        <a asp-page="/index" class="registreren"> terug naar beginscherm</a>
    </div>

    <script>
        document.getElementById('loginForm').addEventListener('submit', function(e) {
            e.preventDefault(); 
            const email = document.getElementById('email').value;
            const wachtwoord = document.getElementById('wachtwoord').value;


            if (email === "test@matrix.inc" && wachtwoord === "1234") {
                alert("Inloggen gelukt!");
                window.location.href = "index.html"; 
            } else {
                alert("Ongeldige inloggegevens.");
            }
        });
    </script>
   
</body>
</html>
