@page
@model KE03_INTDEV_SE_1_Base.Pages.Index3Model
@{
}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>inloggen</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='site.css'>
    <script src='site.js'></script>
</head>
<body>
    <div class="registreerscherm">
        <h1>Registreer scherm</h1>
        <form id="loginForm">
            <label for="email">E-mailadres:</label><br />
            <input type="email" id="email" name="email" required /><br /><br />

            <label for="wachtwoord">Wachtwoord:</label><br />
            <input type="password" id="wachtwoord" name="wachtwoord" required /><br /><br />

            <button type="submit">Inloggen</button>
        </form>
        <p>heb je al een account?<a href="index3.html"> Log hier in</a></p>
        <a href="index.html" class="terugbeginscherm">terug naar beginscherm</a>
    </div>

    <script>
        document.getElementById('loginForm').addEventListener('submit', function(e) {
            e.preventDefault();

            const email = document.getElementById('email').value;
            const wachtwoord = document.getElementById('wachtwoord').value;


            if (email === "test@matrix.inc" && wachtwoord === "1234") {
                alert("Inloggen gelukt!");
                window.location.href = "index.html";
            } else {
                alert("Ongeldige inloggegevens.");
            }
        });
    </script>
    <footer class="onderaan">
        <div class="footer">
            <h2>Over ons</h2>
            <h3>
                matrix inc is een bedrijf die in 2025 is opgericht en gevestigd is in Heerlen.
                Ons bedrijf is vooral gemaakt om ervoor te zorgen dat mensen veilig en snel hun mechanische producten in huis hebben
            </h3>
        </div>
    </footer>
</body>
</html>
