@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>over ons</p>
<p>Matrix.inc is een bedrijf die in 2025 is opgericht en gevestigd is in Heerlen. Ons bedrijf is vooral gemaakt om ervoor te zorgen dat mensen veilig en snel hun mechanische producten in huis hebben.</p>
